DATABASE_URL="postgresql://dbuser:dbpassword@postgres:5432/dbname?schema=public"
DATABASE_USER="dbuser"
DATABASE_PASSWORD="dbpassword"
DATABASE_NAME="dbname"

PORT=3000
NODE_ENV=development

COOKIE_SECRET=""

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="1d"

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=google-account
MAIL_PASS=google-secret
MAIL_FROM_NAME=name
MAIL_FROM_ADDRESS=noreply@...